.container{
    position: absolute;
    top:50%;
    left:50%;
    width:30%;
    height:70%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: lavender;
}
.score{
    margin-left: 50%;
    transform: translate(-50%);
    border: none;
    margin-top: 9.5%;
    height:8%;
    width:36%;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: lightskyblue;
}
.allBlock{
    margin-top: 2.5%;
    width:23%;
    height:18%;
    position: relative;
    margin-left: 1.6%;
    float: left;
    background-color: azure;
    border-radius: 5px;
}
.v2{
    background-color: #FFF8DC;
}
.v2:before{
    content: "2";
    display: flex;
    margin-left: 41%;
    margin-top: 27%;
    font-size: 190%;
    color:#D2B48C;;
}
.v4{
    background-color: #FFE7BA;
}
.v4:before{
    content: "4";
    display: flex;
    margin-left: 41%;
    margin-top: 27%;
    font-size: 190%;
    color:#D2B48C;
}
.v8{
    background-color: #FFD398;
}
.v8:before{
    content: "8";
    display: flex;
    margin-left: 41%;
    margin-top: 27%;
    font-size: 190%;
    color:#D2B48C;
}
.v16{
    background-color: #FFBE6F;
    color: #FFFFFF;
}
.v16:before{
    content: "16";
    display: flex;
    margin-left: 34%;
    margin-top: 27%;
    font-size: 190%;
    color:#FFFFFF;
}
.v32{
    background-color: #FF7F50;
}
.v32:before{
    content: "32";
    display: flex;
    margin-left: 34%;
    margin-top: 27%;
    font-size: 190%;
    color:#FFFFFF;
}
.v64{
    background-color: #FF7F24;
}
.v64:before{
    content: "64";
    display: flex;
    margin-left: 34%;
    margin-top: 27%;
    font-size: 190%;
    color:#FFFFFF;
}
.v128 {
    background-color: #FF4040;
}
.v128:before{
    content: "128";
    display: flex;
    margin-left: 25.8%;
    margin-top: 27%;
    font-size: 190%;
    color:#FFFFFF;
}
.v256{
    background-color: #FF4500;
}
.v256:before{
    content: "256";
    display: flex;
    margin-left: 25.8%;
    margin-top: 27%;
    font-size: 190%;
    color:#FFFFFF;
}
.v512{
    background-color: #FF3030;
}
.v512:before{
    content: "512";
    display: flex;
    margin-left: 25.8%;
    margin-top: 27%;
    font-size: 190%;
    color:#FFFFFF;
}
.v1024{
    background-color: #FF0000;
}
.v1024:before{
    content: "1024";
    display: flex;
    margin-left: 18.5%;
    margin-top: 27%;
    font-size: 190%;
    color:#FFFFFF;
}
.v2048{
    background-color: #EE0000;
}
.v2048:before{
    content: "2048";
    display: flex;
    margin-left: 18.5%;
    margin-top: 27%;
    font-size: 190%;
    color:#FFFFFF;
}